<div ng-if="authenticated && hasPermission()">
	<div class="page-header">
		<h1>{{league.name}}</h1>
	</div>
	
	<div class="row">
		<ul class="nav nav-tabs">
			<li role="presentation" class="active"><a href="./{{routeParams.lang}}/leagues/{{routeParams.leagueId}}/manage/members">{{translate.members}}</a></li>
			<li role="presentation"><a href="./{{routeParams.lang}}/leagues/{{routeParams.leagueId}}/manage/requests">{{translate.requests}}</a></li>
			<li role="presentation"><a href="./{{routeParams.lang}}/leagues/{{routeParams.leagueId}}/manage/tournaments">{{translate.tournaments}}</a></li>
		</ul>
		<br>
	</div>

	<div class="page-header">
		<h2>{{translate.members}}</h2>
	</div>
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3" ng-repeat="member in members">
			<div class="thumbnail">
				<div class="image">
					<img class="img img-responsive full-width" width="100%" ng-src="{{renderImage(member.user.photo)}}" alt="{{member.user.fullName}}">
				</div>
				<div class="caption">
					<p><b><a ng-href="./{{routeParams.lang}}/people/{{member.user.id}}">{{member.user.fullName}}</a></b></p>
					<p><button ng-if="!isSamePerson(authSession.id, member.user.id) && !member.deleted && (league.creatorId != member.user.id)" ng-click="deleteMember(member.user.id)" class="btn btn-primary" role="button">{{translate.toDelete}}</button> <a href="./{{routeParams.lang}}/people/{{member.user.id}}" class="btn btn-default" role="button">{{translate.view}}</a></p>
				</div>
			</div>
		</div>
		<button ng-if="(nextPageForMembers > currentPageForMembers) && (members !== null)" class="btn btn-default btn-block" ng-click="showMoreMembers(currentPageForMembers, nextPageForMembers)">{{translate.showMore}}</button>
	</div>
	<br>
	<div class="page-header">
		<h2>{{translate.deleted}}</h2>
	</div>
	
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3" ng-repeat="member in deletedMembers">
			<div class="thumbnail">
				<div class="image">
					<img class="img img-responsive full-width" width="100%" ng-src="{{renderImage(member.user.photo)}}" alt="{{member.user.fullName}}">
				</div>
				<div class="caption">
					<p><b><a ng-href="./{{routeParams.lang}}/people/{{member.user.id}}">{{member.user.fullName}}</a></b></p>
					<p><button ng-if="!isSamePerson(authSession.id, member.user.id) && member.deleted" ng-click="restoreMember(member.user.id)" class="btn btn-primary" role="button">{{translate.restore}}</button> <a href="./{{routeParams.lang}}/people/{{member.user.id}}" class="btn btn-default" role="button">{{translate.view}}</a></p>
				</div>
			</div>
		</div>
		<button ng-if="(nextPageForDeletedMembers > currentPageForDeletedMembers) && (deletedMembers !== null)" class="btn btn-default btn-block" ng-click="showMoreDeletedMembers(currentPageForDeletedMembers, nextPageForDeletedMembers)">{{translate.showMore}}</button>
	</div>
</div>

